:root{
    --cor-primaria: #2563eb;
    --cor-secundaria: #1e293b;
    --cor-fundo: #f1f5f9;
    --cor-branca: #ffffff;
    --cor-texto: #0f172a;
    --cor-sucesso: #22c55e;
    --cor-pendente: #facc15;
    --cor-erro: #ef4444;

    --radius: 8px;
    --sombra: 0 4px 10px rgba(0,0,0,0.1);
}